body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f7f7f7;
}

/* Основной контейнер */
.app-container {
    text-align: center;
}

/* Кнопки */
.button {
    background-color: #008CBA;
    color: white;
    padding: 15px 32px;
    margin: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.button:hover {
    background-color: #005f73;
}

/* Скрытые элементы */
.signal-container, .signal-details, .signal-result {
    display: none;
}

.signal-result {
    text-align: center;
}

.signal-container.show, .signal-details.show, .signal-result.show {
    display: block;
}

/* Адаптивность для мобильных устройств */
@media screen and (max-width: 600px) {
    body {
        padding: 20px;
    }
    .button {
        width: 100%;
        font-size: 18px;
    }
}
